mixin videoBlock(video={})
    .videoBlock
        video.videoBlock__thumbanil(src=video.fileUrl, controls=true)
        a(href=`/videos${routes.videoDetail(video.id)}`)
            h4.videoBlock__title=video.title
        if video.views === 1
            span.video__views 1 View
        else if video.views === 0
            span.video__views No View
        else
            span.video__views #{video.views} Views 